header {
  background-color: #ff6f00;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  color: white;
}

h2 {
  font-family: "Source Sans Pro";
  font-weight: 300;
}

img {
  height: 256px;
  width: 256px;
  border-radius: 50%;
  animation: spin 1s infinite;
}

@keyframes spin {
  0%, 100% {transform: rotate(0deg) }
  50% { transform: rotate(360deg) }
}
